.pagination {
  display: flex;
  list-style-type: none;
}

.pagination .page-number {
  font-size: 1.4em;
  height: 32px;
  min-width: 32px;
  text-align: center;
  margin: auto 6px;
  padding: 12px;
  color: rgba(33,81,82, 1);
  display: flex;
  border-radius: 18px;
  box-sizing: border-box;
  align-items: center;
}

.pagination .page-number:hover {
  background-color: rgba(33,81,82, 0.5);
  color: #ffffff;
  cursor: pointer;
}

.pagination .page-number.active {
  color: #ffffff;
  background-color: rgba(33,81,82, 1);;
}
